.display-black {
    height: 500px;
    display:flex;
    background-color:black;
    text-shadow: 2px 2px 5px rgb(162, 0, 255);
    flex-direction: row-reverse;
}

.display-purple {
    height: 500px;
    display: flex;
    background-color: rgb(162, 0, 255);
    text-shadow: 2px 2px 5px rgb(0, 166, 255);
}

#cara-image {
    height: 500px;
    width: 500px;
}

#angela-image {
    height: 500px;
    width: 500px;
}

#dillon-image {
    height: 500px;
    width: 500px;
}

#hannah-image {
    height: 500px;
    width: 500px;
}

#catelina-image {
    height: 500px;
    width: 500px;
}

#lyle-image {
    height: 500px;
    width: 500px;
}

#ina-image {
    height: 500px;
    width: 500px;
}

#lily-image {
    height: 500px;
    width: 500px;
}

#gabe-image {
    height: 500px;
    width: 500px;
}

#aliya-image {
    height: 500px;
    width: 500px;
}

.display ul {
    margin: auto;
    text-align: center;
}

.display-text {
    background-color: transparent;
    align-self: center;
    font-size: 50px;
    margin: auto;
}

h1 {
    font-size: 60px;
    text-shadow: 4px 4px 5px rgb(0, 225, 255);
    border-color: rgba(255, 0, 68, 0.7);
    border-width: 5px;
    border-style: solid;
    margin-top: 85px;
}

h2 a{
    color:white;
}

h2 a:hover{
    color:rgb(148, 150, 151);
}

h2 {
    margin:auto;
    font-size: 30px;
    text-shadow: 3px 3px 5px rgb(104, 52, 236);
}

.divider{
    width: 100%;
    color:black;
    height:40px;
}

@font-face {
    font-family: bungee;
    src: url(../Fonts/BungeeLayers-Regular.otf);
}

ul {
    list-style-type: none;
    margin-top: -15px;
    padding: 0;
    overflow: hidden;
}

#nav ul {
    list-style-type: none;
    margin-top: -90px;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color:black;
    height: 60px;
    width: 99%
}

li.rightBar {
    float: right;
}

li.logo {
    float: left;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgb(102, 0, 255);
}

li {
    font-family: bungee;
}
  
.rightBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgb(102, 0, 255);
}
  
.rightBar a:hover {
    background-color: #1e1d1d;
    color: rgb(211, 207, 207);
}

.rightBar a.active {
    text-decoration: underline;
    text-decoration-color:rgb(31, 229, 235);
    text-shadow: 2px 2px 5px rgb(31, 229, 235);
}

.logo {
    margin: -13.5px;
}

.logo a:hover {
    background-color:black;
    color: white;
}

.logo a:hover img {
    opacity: 0.5;
}

#EighthWonderNavBar {
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

body {
    background:black;
    font-family: bungee;
    color: white;
    text-align: center;
}
