h1 {
    font-size: 70px;
    text-shadow: 4px 4px 5px rgb(0, 225, 255);
    border-color: rgba(255, 0, 68, 0.7);
    border-width: 5px;
    border-style: solid;
    margin-top: 75px;
}

h2 {
    font-size: 20px;
    text-shadow: 4px 4px 5px rgb(255, 230, 0);
}

#calendarDescription {
    display: flex;
    justify-content: center;
}

#calendarDescription ul {
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
}

#eventDescription {
    background:#6183be;
    margin:auto;
    width: 100%;    
}

#month .prev {
    margin-left: 37%;
    font-size: 23px;
}

#month .next {
    margin-right: 38%;
    font-size: 23px;
}

#month .prev:hover {
    color:#005eff;
}
  
#month .next:hover {
    color:#005eff;
}

#month {
    font-size: 24px;
}

#month .monthAndYear {
    margin: auto;
}

#month {
    height: 35%;
    width: 70%;
    border-radius: 20px;
    background-color: rgb(23, 102, 248);
    text-shadow: 2px 2px 5px rgb(0, 254, 195);
    margin: auto;
    display: flex;
    flex-direction: row;
}

#weekdays {
    margin: auto;
    background-color:black;
    width:70%;
}
  
#weekdays li {
    display: inline-block;
    width: 13.5%;
    color: #ffffff;
    text-shadow: 4px 4px 5px rgb(178, 0, 254);
    text-align: center;
}

#days {
    width: 70%;
    height: 260px;
    background-color: rgb(255, 255, 255);
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

#days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: grey;
}
  
#days li .active {
    padding: 2px;
    background-color: #601abc;
    color: white !important;
}

#days li:hover {
    padding: 2px;
    background: #1a38bc;
    color: white !important;
}

#days li:hover .active {
    background: #1a38bc;
    color: white !important;
}

#days li .video {
    padding: 2px;
    background-color: #bc1a1a;
    color: white !important;
}

#days li:hover .video {
    background: #1a38bc;
    color: white !important;
}

#days li .workshop {
    padding: 2px;
    background-color: #1a6ebc;
    color: white !important;
}

#days li:hover .workshop {
    background: #1a38bc;
    color: white !important;
}

#days li .eboard {
    padding: 2px;
    background-color: #bc1ab4;
    color: white !important;
}

#days li:hover .eboard {
    background-color: #1a38bc;
    color: white !important;
}

#todayTag {
    background-color: #601abc;
    margin:auto;
    width: 100%;
}

#workshopTag {
    background-color: #1a6ebc;
    margin:auto;
    width: 100%;
}

#eboardTag
{
    background-color: #bc1ab4;
    margin:auto;
    width: 100%;
}

#videoTag {
    background-color: #bc1a1a;
    margin:auto;
    width: 100%;
}

@font-face {
    font-family: bungee;
    src: url(../Fonts/BungeeLayers-Regular.otf);
}

ul {
    list-style-type: none;
    margin-top: -15px;
    padding: 0;
    overflow: hidden;
}

#nav ul {
    list-style-type: none;
    margin-top: -80px;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: black;
    height: 60px;
    width: 99%
}

li.rightBar {
    float: right;
}

li.logo {
    float: left;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgb(102, 0, 255);
}

.logo a {
    color: white;
    text-decoration: none;
}

a:hover img {
    opacity: 0.5;
}

li {
    font-family: bungee;
}
  
.rightBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgb(102, 0, 255);
}
  
.rightBar a:hover {
    background-color: #1e1d1d;
    color: rgb(211, 207, 207);
}

.rightBar a.active {
    text-decoration: underline;
    text-decoration-color:rgb(31, 229, 235);
    text-shadow: 2px 2px 5px rgb(31, 229, 235);
}

#EighthWonderNavBar {
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

body {
    background: black;
    font-family: bungee;
    color: white;
    text-align: center;
}
